# Task 1: Read CSV Files

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df_deliveries = pd.read_csv('deliveries.csv')
df_matches = pd.read_csv('matches.csv')

df_matches.head(2)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN

# Task 2: Get top-level summary

In [ ]:
df_matches.describe()

,id,season,dl_applied,win_by_runs,win_by_wickets,umpire3
count,636.000000,636.000000,636.000000,636.000000,636.000000,0.0
mean,318.500000,2012.490566,0.025157,13.682390,3.372642,NaN
std,183.741666,2.773026,0.156726,23.908877,3.420338,NaN
min,1.000000,2008.000000,0.000000,0.000000,0.000000,NaN
25%,159.750000,2010.000000,0.000000,0.000000,0.000000,NaN
50%,318.500000,2012.000000,0.000000,0.000000,4.000000,NaN
75%,477.250000,2015.000000,0.000000,20.000000,7.000000,NaN
max,636.000000,2017.000000,1.000000,146.000000,10.000000,NaN

In [ ]:
df_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 18 columns):
id                 636 non-null int64
season             636 non-null int64
city               629 non-null object
date               636 non-null object
team1              636 non-null object
team2              636 non-null object
toss_winner        636 non-null object
toss_decision      636 non-null object
result             636 non-null object
dl_applied         636 non-null int64
winner             633 non-null object
win_by_runs        636 non-null int64
win_by_wickets     636 non-null int64
player_of_match    633 non-null object
venue              636 non-null object
umpire1            635 non-null object
umpire2            635 non-null object
umpire3            0 non-null float64
dtypes: float64(1), int64(5), object(12)
memory usage: 89.5+ KB

# Task 3: Check if column 'umpire3' is useful. If not drop it and save the dataframe to a file.

## Rough work

In [ ]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [1, 1, 1]})
df.nunique()

A    3
B    1
dtype: int64

In [ ]:
df['A'].unique()

array([1, 2, 3], dtype=int64)

In [ ]:
print(df_matches['umpire3'].unique())

[nan]

In [ ]:
print(df_matches['umpire3'].nunique(dropna=False))

1

In [ ]:
df2 = df_matches.drop(['umpire3'],axis=1)
df2.to_csv("IPLMDI.csv",index=False)

# Task 4: Print Total Number of Mataches played, Number of Seasons

In [ ]:
print("Number of matches played so far : ", df_matches.shape)

Number of matches played so far :  (636, 18)

In [ ]:
print("Number of matches played so far : ", df_matches.shape[0])

Number of matches played so far :  636

In [ ]:
print("Number of seasons : ", df_matches['season'].nunique())

Number of seasons :  10

# Task 5: Players who have won the most "Player of the Match"
## And Team which has the highest number of match wins

In [ ]:
print("Most Player of the Match: ",df_matches['player_of_match'].value_counts())

Most Player of the Match:  CH Gayle             18
YK Pathan            16
AB de Villiers       15
DA Warner            15
RG Sharma            14
SK Raina             14
MS Dhoni             13
G Gambhir            13
AM Rahane            12
MEK Hussey           12
V Kohli              11
DR Smith             11
V Sehwag             11
SR Watson            10
JH Kallis            10
SE Marsh              9
A Mishra              9
KA Pollard            9
SR Tendulkar          8
AT Rayudu             7
AC Gilchrist          7
RA Jadeja             7
RV Uthappa            7
UT Yadav              6
Harbhajan Singh       6
BJ Hodge              6
AD Russell            6
M Vijay               6
SP Narine             6
A Nehra               6
                     ..
S Nadeem              1
SM Katich             1
SP Goswami            1
S Sohal               1
Mohammed Shami        1
RE Levi               1
BA Bhatt              1
J Theron              1
MF Maharoof           1
CR Brathwaite         1
RA Tripathi           1
S Badrinath           1
Mustafizur Rahman     1
TM Dilshan            1
P Parameswaran        1
J Botha               1
JC Buttler            1
KS Williamson         1
TL Suman              1
Washington Sundar     1
Mohammed Siraj        1
A Zampa               1
SB Jakati             1
PP Ojha               1
HV Patel              1
YS Chahal             1
NV Ojha               1
MR Marsh              1
A Singh               1
MJ Lumb               1
Name: player_of_match, Length: 201, dtype: int64

In [ ]:
print("Most Player of the Match: ",df_matches['player_of_match'].value_counts()[:5])

Most Player of the Match:  CH Gayle          18
YK Pathan         16
AB de Villiers    15
DA Warner         15
RG Sharma         14
Name: player_of_match, dtype: int64

In [ ]:
print((df_matches['player_of_match'].value_counts()).idxmax(),' : has most man of the match awards')

CH Gayle  : has most man of the match awards

In [ ]:
print(((df_matches['winner']).value_counts()).idxmax(),': has the highest number of match wins')

Mumbai Indians : has the highest number of match wins

In [ ]:
print(((df_matches['winner']).value_counts()).idxmax())

Mumbai Indians

# Task 6: Find Teams which have won matches by a huge margin

In [ ]:
big_margin=df_matches[(df_matches['win_by_runs']>=100) | (df_matches['win_by_wickets']>=8)]
big_margin.winner.value_counts()

Royal Challengers Bangalore    17
Kolkata Knight Riders          16
Delhi Daredevils               13
Mumbai Indians                 12
Rajasthan Royals               12
Chennai Super Kings             9
Kings XI Punjab                 7
Sunrisers Hyderabad             5
Deccan Chargers                 2
Kochi Tuskers Kerala            2
Rising Pune Supergiant          1
Rising Pune Supergiants         1
Name: winner, dtype: int64

# Task 7: Find Count of Matches Played at each city

In [ ]:
df_matches.groupby(['city'])
df_matches.groupby(['city','winner']).size()

city           winner
Abu Dhabi      Chennai Super Kings             1
               Kings XI Punjab                 2
               Kolkata Knight Riders           1
               Rajasthan Royals                3
Ahmedabad      Delhi Daredevils                1
               Kings XI Punjab                 1
               Mumbai Indians                  1
               Rajasthan Royals                7
               Royal Challengers Bangalore     1
               Sunrisers Hyderabad             1
Bangalore      Chennai Super Kings             4
               Deccan Chargers                 1
               Delhi Daredevils                3
               Gujarat Lions                   1
               Kings XI Punjab                 5
               Kolkata Knight Riders           6
               Mumbai Indians                  8
               Rajasthan Royals                3
               Rising Pune Supergiant          1
               Royal Challengers Bangalore    30
               Sunrisers Hyderabad             2
Bloemfontein   Delhi Daredevils                1
               Kings XI Punjab                 1
Cape Town      Deccan Chargers                 2
               Delhi Daredevils                1
               Kings XI Punjab                 1
               Mumbai Indians                  1
               Rajasthan Royals                1
               Royal Challengers Bangalore     1
Centurion      Chennai Super Kings             2
                                              ..
Pune           Rising Pune Supergiant          5
               Royal Challengers Bangalore     4
               Sunrisers Hyderabad             1
Raipur         Delhi Daredevils                4
               Royal Challengers Bangalore     1
               Sunrisers Hyderabad             1
Rajkot         Delhi Daredevils                1
               Gujarat Lions                   3
               Kings XI Punjab                 2
               Kolkata Knight Riders           1
               Mumbai Indians                  1
               Royal Challengers Bangalore     1
               Sunrisers Hyderabad             1
Ranchi         Chennai Super Kings             3
               Kolkata Knight Riders           1
               Pune Warriors                   1
               Royal Challengers Bangalore     1
               Sunrisers Hyderabad             1
Sharjah        Chennai Super Kings             1
               Delhi Daredevils                1
               Kings XI Punjab                 2
               Kolkata Knight Riders           1
               Royal Challengers Bangalore     1
Visakhapatnam  Chennai Super Kings             1
               Delhi Daredevils                1
               Kings XI Punjab                 1
               Mumbai Indians                  2
               Rajasthan Royals                1
               Rising Pune Supergiants         2
               Sunrisers Hyderabad             3
Length: 191, dtype: int64

In [ ]:
#df_matches.groupby(['city','winner']).count()
df_matches.groupby(['city']).get_group('Abu Dhabi')

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
457,458,2014,Abu Dhabi,2014-04-16,Kolkata Knight Riders,Mumbai Indians,Kolkata Knight Riders,bat,normal,0,Kolkata Knight Riders,41,0,JH Kallis,Sheikh Zayed Stadium,M Erasmus,RK Illingworth,NaN
459,460,2014,Abu Dhabi,2014-04-18,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Sheikh Zayed Stadium,RK Illingworth,C Shamshuddin,NaN
460,461,2014,Abu Dhabi,2014-04-18,Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,4,AM Rahane,Sheikh Zayed Stadium,BF Bowden,RK Illingworth,NaN
464,465,2014,Abu Dhabi,2014-04-21,Chennai Super Kings,Delhi Daredevils,Chennai Super Kings,bat,normal,0,Chennai Super Kings,93,0,SK Raina,Sheikh Zayed Stadium,RK Illingworth,C Shamshuddin,NaN
470,471,2014,Abu Dhabi,2014-04-26,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,6,PV Tambe,Sheikh Zayed Stadium,HDPK Dharmasena,C Shamshuddin,NaN
471,472,2014,Abu Dhabi,2014-04-26,Kings XI Punjab,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kings XI Punjab,23,0,Sandeep Sharma,Sheikh Zayed Stadium,HDPK Dharmasena,RK Illingworth,NaN
475,476,2014,Abu Dhabi,2014-04-29,Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals,bat,tie,0,Rajasthan Royals,0,0,JP Faulkner,Sheikh Zayed Stadium,Aleem Dar,AK Chaudhary,NaN

In [ ]:
df_matches.groupby(['city']).agg([ 'min', 'max'])['win_by_wickets']

                min  max
city
Abu Dhabi         0    6
Ahmedabad         0    9
Bangalore         0   10
Bloemfontein      0    6
Cape Town         0   10
Centurion         0    8
Chandigarh        0   10
Chennai           0    9
Cuttack           0    9
Delhi             0   10
Dharamsala        0    6
Durban            0    9
East London       0    7
Hyderabad         0    9
Indore            6    8
Jaipur            0   10
Johannesburg      0    9
Kanpur            2    8
Kimberley         0    7
Kochi             0    7
Kolkata           0    9
Mumbai            0   10
Nagpur            0    6
Port Elizabeth    0    7
Pune              0    9
Raipur            0    7
Rajkot            0   10
Ranchi            0    6
Sharjah           0    8
Visakhapatnam     0    7

In [ ]:
df_matches.iloc[[df_matches['win_by_runs'].idxmax()]]
#Mumbai Indians(MI) defeated Delhi Daredevils(DD) with the highest run difference

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
43,44,2017,Delhi,2017-05-06,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,146,0,LMP Simmons,Feroz Shah Kotla,Nitin Menon,CK Nandan,NaN

In [ ]:
df_matches.iloc[[df_matches['win_by_wickets'].idxmax()]]
##Kolkata Knight Riders(KKR) defeated Gujrat Lions(GL) with the highest wins by wickets

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN